$primary-color:#ffff;
$tertialy-color:#cccccc;
$secondary-color:#fcdb00;
$mytext:#000000;
$btn-color:#ff384a;
$titles:#18244f;
$brown:brown;
$sectionbtn:#21264D;
$text:#21264D;
$greytext:#8f92a1;
$myfooter-bg:#86162d;
$button:#10375c;



